body{
    height: 100vh;
    background: url(starter-code/assets/home/background-home-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}
