body{


    height: 100vh;
    background: url(starter-code/assets/home/background-home-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    overflow: hidden;
}

.div1{

    display: flex;
    align-items: center;
    justify-content: space-between;
 
    margin-top: 30px;
    margin-left: 10px;
}
.div2{
    gap: 50px;
    margin-right: 100px;
    display: flex;
    -webkit-backdrop-filter: blur(50px); 
    backdrop-filter: blur(50px);
    height: 100px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    margin-right: -100px;
    padding-right: 100px;
    
}
.btn1{


    background-color: transparent;
    color: white;
    border: 0;
    width: 130px;
    font-size: 14px;

}
.btn1:hover{

    text-decoration: underline;
    color: rgba(255, 255, 255, 0.63);
    

}
.img1{
    width: 70px;
    height: 70px;
}
.div3{

    width: 900px;
    background-color: rgba(167, 167, 167, 0.137);
    height: 5px;
    margin-right: -200px;
    z-index: 5;
}
.div4{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

h1{

    color: rgba(255, 255, 255, 0.63);
    font-size: 17px;
}
h2{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 100px;
}


.btn2{

    width: 300px;
    height: 300px;
    border-radius: 100%;
    font-size: 17px;
    border: 0;
    margin-top: 100px;
}
.btn2:hover{

    background-color: azure;
}

.p1{
    color: rgba(255, 255, 255, 0.63);
    width: 500px;
    margin-top: -40px;


}